/**
 * @copyright 
 * @author Erick || Chema || Dany || Bego
 * @version 1.0 (Abril 2018)
 * @since 1.0
 */

.seccion-slider{
	margin: 0!important;
	height: 100vh!important;
	display: flex;
	text-align: center;
	justify-content: space-between;
	/*
	background-image: url("../img/slider_fondo.jpg")!important;
	background-attachment: fixed;
 	background-repeat: no-repeat;
 	background-position: center;
 	justify-content: center;
 	background-size: cover; */
 	background-color: #12101B;


	display: -webkit-flex;
	 -webkit-text-align: center;
    -webkit-align-items: center;
	-webkit-justify-content: space-between;

	background-color: ;
}

.slider__contenedor{
	margin: 0 auto;
	z-index: 1;
}

.slider{
	width: 80vw;
	background-color: #12101B;
}

.slider__img{
	width: 60vw;
}

/*Estilo para móviles
______________________________*/
@media only screen and (max-device-width: 768px){
	.subtitulo-s{
		font-size: 10vw;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape){
	
}



